.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: #333333;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.title {
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
}
.icon-container {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-top: 3rem;
}

.icon-link {
  text-decoration: none;
}

.icon {
  font-size: 32px;
  color: #333;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.icon:hover {
  color: #007bff;
  transform: scale(1.3);
}
