.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
div::-webkit-scrollbar {
  width: 6px;
}

div::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 6rem;
}

.task-card {
  width: 40rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 8px auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logout-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}

.logout-button {
  padding: 0.5rem 1rem;
  background-color: #ff5733;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e04a2b;
}

.task-card input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 12px;
  appearance: none;
  border: 2px solid #007bff;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.task-card input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #0056b3;
}

.task-scroll {
  overflow-y: auto;
}

.task-scroll.scrollable {
  overflow-y: auto;
}

@media (max-width: 1998px) {
  .container {
    padding: 0.5rem;
  }

  .header {
    margin-top: 4rem;
  }

  .task-card {
    width: 100%;
    margin: 8px 0;
    height: auto;
  }

  .task-scroll {
    max-height: 430px;
    margin-top: 8rem;
  }

  .logout-container {
    margin-top: 1.5rem;
    flex-direction: column;
  }

  .task-card input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }

  .logout-button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  .header {
    margin-top: 4rem;
  }

  .task-card {
    width: 100%;
    margin: 8px 0;
    height: auto;
  }

  .task-scroll {
    max-height: 300px;
    margin-top: 5rem;
  }

  .logout-container {
    margin-top: 1.5rem;
    flex-direction: column;
  }

  .task-card input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }

  .logout-button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .header {
    margin-top: 3rem;
  }

  .task-card {
    width: 100%;
    padding: 1rem;
  }

  .task-card input[type="checkbox"] {
    width: 14px;
    height: 14px;
  }

  .task-scroll {
    max-height: 300px;
    margin-top: 4rem;
  }
}
